/* reference: https://stackoverflow.com/questions/46085733/css-smooth-transition-between-hover-and-leaving */
/* reference: https://imagekit.io/blog/creating-css-image-effects/ */
.img_as_link:hover, .img_as_link:focus {
    transform: scale(1.03);
    transition-duration: 0.5s;
  }
  
  .img_as_link {
    width:20rem;
  }
  
  .img_branding {
    width:100%;
  }
  
  /* reference: https://jonitrythall.com/flexbox-cheatsheet */
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3rem 0.5rem 0.5rem 0.5rem;
  }
  
  /* reference: https://stackoverflow.com/questions/27467008/i-dont-understand-the-logic-behind-working-of-media-queries-of-foundation */
  @media only screen and (max-width: 64.063em) {
  
    .header {
      flex-direction: column;
    }
  
    #product_listing {
      display: flex;
      flex-direction: column;
    }
  
    /* reference: https://www.w3schools.com/css/css3_borders.asp */
    /* reference: https://www.google.com/search?q=color+picker&rlz=1C1CHBF_enCA908CA909&oq=color&aqs=chrome */
    .img_branding img {
      width: 80rem;
      border-style: solid;
      border-width: 1rem;
      border-radius: 0.3rem;
      border-color: #ffe3f1;  /* #light pink */
    }
  }
  
  @media only screen and (min-width: 64.063em) {
    #product_listing {
      display: flex;
      flex-direction: row;
    }
  
    .img_branding img {
      width: 100%;
    }
  }
  
  img {
    border-radius: 0.3rem;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .container h2 {
    flex-basis: 100%;
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;
    border-bottom-color: black;
  }
  
  .element {
    text-align: center;
    padding: 3rem;
    margin: auto;
    flex-grow: 1;
    border-color: #ffe3f1;  /* #light pink */
    border-style: solid;
    border-width: medium;
    margin: 2rem;
    color: #db7fad; /* #dark pink */
  }
  
  
  .header_element {
    padding: 0.5rem;
    margin: 1rem;
    flex-grow: 1;
  }
  
  .tiny_input {
    border-color: #ffe3f1;  /* #light pink */
    border-style: solid;
    border-width: medium;
    margin: 2rem;
    color: #39C7AD; /* #turqoise */
  }
  
  /* reference: https://www.geeksforgeeks.org/how-to-change-the-color-of-radio-buttons-using-css/ */
  input {
    accent-color: #39C7AD; /* #turqoise */
    color: #242424; /* #almost black */
    border-color: #dbdbdb; /* #light grey */
  }
  
  input:focus, input:hover {
    border-color: #39C7AD; /* #turqoise */
    outline: none;
  }
  
  /* reference: https://www.w3schools.com/howto/howto_css_placeholder.asp */
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dbdbdb; /* #light grey */
    opacity: 1; /* Firefox */
  }
  
  
  body {
    font-family: Calibri;
    padding: 2rem;
    background-color: #ffffff;  /* #white */
    font-size: 1rem;
  }
  
  section {
    padding: 2rem;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff; /* #white */
    z-index: 1;
  }
  
  nav a, .dropbtn, button {
    padding: 0.5rem;
    color: #242424; /* #almost black */
    background-color: #39C7AD; /* #turqoise */
    text-decoration: none;
    border-radius: 0.3rem;
    font-weight: bold;
    margin: 0.2em;
    border: none;
    outline: none;
    /* flex-grow: 1; */
  }
  
  a {
    color: #39C7AD; /* #turqoise */
  }
  
  a:focus, a:hover {
    color: #db7fad; /* #dark pink */
    transition-property: background-color, color;
    transition-duration: 0.5s;
  }
  
  nav a:hover, .dropbtn:hover, button:hover {
    color: #db7fad; /* #dark pink */
    background-color: #ffe3f1;  /* #light pink */
    transition-property: background-color, color;
    transition-duration: 0.5s;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* #white */
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #242424; /* #almost black */
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .show {
    display: block;
  }
  
  p {
    color: #242424; /* #almost black */
  }
  
  h2 {
     color: #6D8952; /* #muddy green */
  }
  
  h3 {
    color: #db7fad; /* #dark pink */
  }
  
  h4, h5, h6 {
    color: #9B9B9B; /* #grey*/
  }
  
  .payment {
    width: 15rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-color: #ffe3f1; /* #light pink */
    border-style: solid;
    border-width: medium;
    padding: 1em;
    color: #39C7AD; /* #turqoise */
  }
  
  
  .product_listing {
    border-color: #ffe3f1; /* #light pink */
    border-style: solid;
    border-width: medium;
    margin: 2rem;
    color: #db7fad; /* #dark pink */
    align-items: center;
  }
  
  .checkout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .checkout-element {
    border-color: #ffe3f1; /* #light pink */
    border-style: solid;
    border-width: medium;
    margin: 2rem;
    color: #db7fad; /* #dark pink */
    align-items: center;
  }
  
  .user_input {
    display: flex;
    flex-direction: row;
  }
  
  ol, ul {
    color: #9B9B9B; /* #grey*/
    text-align: left;
    display: inline-block;
  }
  
  /* reference: https://stackoverflow.com/questions/18229387/wrap-a-long-single-word-using-css */
  .resources li {
    word-break: break-all;
  }
  